extends layout

block content
    h1 Приложение запрашивает доступ к данным!
    form(action="",method="POST")
        input(type="hidden",name="challenge",value=challenge)
        input(type="hidden",name="_csrf",value=csrfToken)

        if client.logo_uri
            img(src=client.logo_uri)

        p.
            Привет #{user}, приложение <strong>#{client.client_name || client.client_id}</strong> хочет получить доступ к вашим данным :

        each scope in requested_scope
            input(type="checkbox",id=scope,value=scope,name="grant_scope")
            label(for=scope) #{scope}
            br

        p.
            Спрашивать разрешение в следующий раз?
        ul
            if client.policy_uri
                li
                    a(href=client.policy_uri) Policy
            if client.tos_uri
                li
                    a(href=client.tos_uri) Terms of Service
        p
            input(type="checkbox",id="remember",name="remember",value="1")
            label(for="remember") Больше не спрашивать
        p
            input(type="submit",id="accept",name="submit",value="Разрешить")
            input(type="submit",id="reject",name="submit",value="Отказать")
